main {
    padding-top: 7.5em;
    overflow: hidden !important;
}

/*** Bootstrap overwrite ***/
.btn {
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-link {
    border-radius: 0;
    box-shadow: none;
}

.btn-link-primary {
    color: #007bff
}

.btn-link-secondary {
    color: #6c757d
}

.btn-link-success {
    color: #28a745
}

.btn-link-danger {
    color: #dc3545
}

.btn-link-warning {
    color: #ffc107
}

.btn-link-info {
    color: #17a2b8
}

.btn-link-dark {
    color: #343a40
}

.fixed-top {
    z-index: 1030 !important;
    top: 0;
}

.breadcrumb {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.breadcrumb-item a {
    font-weight: bolder;
    text-decoration: underline;
}

.breadcrumb-item span {
    color: #6c757d;
    text-decoration: none;
}


/*** Menú ***/
.menu {
    list-style: none;
    line-height: 42px;
    margin: 2em auto;
    padding-left: 0;
    width: 15em;
    z-index: 2050;
}

.menu a {
    color: var(--light);
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.menu a:hover {
    margin-left: 1em;
    transition: .4s ease-in;
}

.menu li {
    margin-bottom: 5px;
    padding-left: 1.5em;
}

.menu li a i.material-icons {
    vertical-align: sub;
}


.menu li:hover {
    transition: .4s ease-in;
}

/*** Posición adaptativa menú ***/
#menu {
    height: 100%;
}

nav#nav-menu {
    padding-right: .25em;
    position: fixed;
    left: -15.9em;
    z-index: 1040;
    height: 100%;
    top: 55px;
    transition: all .4s;
    box-shadow: none;
}

nav#nav-menu.mostrar {
    position: fixed;
    left: 0;
    box-shadow: 0px 15px 8px 8px rgba(0, 0, 0, 0.3);
    text-align: left;
    height: 100%;
}

/** Estilos Encabezado **/
div#nav-head {
    font-size: 1.5em;
    top: 0;
    color: #fff;
    height: 60px;
    box-shadow: 0px 15px 8px 8px rgba(0, 0, 0, 0.3);
    z-index: 1050;
    width: 100%;
    padding-left: 1em;

}

div.logo {
    padding: 9px 10px 0px 0;
}

#mostrar-nav {
    width: 60px;
    height: 49px;
    z-index: 1050;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: all .35s;
}

/*** Multiselect ***/

.multiselect-picker {
    border: #d1dce8 1px solid;
    height: 150px;
    overflow-y: scroll;
    padding: 10px;
    max-width: 250px;
    max-height: 250px;
    border-radius: 5px;
}